{% extends 'Calculator/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    
    <div class="row mt-5 wrap">
        <div class="col-12 col-md-6 mx-md-auto inner">
            <h1>Калькулятор риска</h1>

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Рассчитать</button>

            </form>
        </div>
    </div>
{% endblock content %}